<%- include("./partials/header.ejs") %>
<div class="compose">
    <form class="compose-form" action="/compose" method="POST">
        <label id="form-title-label" for="title">Title:</label>
        <input type="text" name="title" id="form-title" placeholder="Enter your title here..." required/>
        <label id="form-image-label" for="image">Image URL:</label>
        <input type="text" name="image" id="form-image" placeholder="Enter your image URL here(or a default image will be applied)"/>
        <label id="form-content-label" for="content">Content:</label>
        <textarea name="content" id="form-content" cols="30" rows="1" required>Write your Blog here...</textarea>
        <button type="submit">compose</button>
    </form>
</div>

</body>
</html>